/*#combat_att_btn, #combat_def_btn, #combat_per_btn, #combat_flee_btn {
	position : absolute;
}*/

:root {
	--img_width : 10vw;
	--img_align : middle;
}

div {
	overflow : hidden;
	font-family : monospace;
	border : white;
}

#combat_att_btn {
	position : absolute;
	left : 0%;
	bottom : 0%;
}

#combat_def_btn {
	position : absolute;
	left : 25%;
	bottom : 0%;
}

#combat_per_btn {
	position : absolute;
	left : 50%;
	bottom : 0%;
}

#combat_flee_btn {
	position : absolute;
	left : 75%;
	bottom : 0%;
}

p, div {
	color : white
}

meter.shield::-webkit-meter-optimum-value {
	background-color : cyan;
}
meter.shield::-moz-meter-optimum {
	background-color : cyan;
}
meter.health::-webkit-meter-optimum-value {
	background-color : lime;
}
meter.health::-webkit-meter-suboptimal-value {
	background-color : orange;
}
meter.health::-webkit-meter-even-less-good-value {
	background-color : red;
}

#enemy_h_s {
	position : absolute;
	bottom : 75%;
	right : 25%;
}

meter.enemy {
	width : 37vmin;
}