#inventory {
	display : grid;
	grid-template-columns : repeat(5, 1fr);
	align-items : start;
	position : absolute;
	left : 25vw;
	bottom : 15vh;
	width : 50vw;
	height : 10vw;
	overflow : auto;
}

.hide_scrollbar {
	scrollbar-width : none;
}

.hide_scrollbar::-webkit-scrollbar {
	display : none;
}

.table_item {
	position : relative;
	left : 0%;
	top : 0%;
	border : none;
	margin : 0%;
	padding : 0%;
	width : 10vw;
	height : 10vw;
	color : white;
	overflow : hidden;
}

.table_item > div {
	width : 100%;
	height : 100%;
}
.table_item > div > .content {
	width : 100%;
	height : 100%;
	position : relative;
	left : 0%;
	top : 0%;
	--v1 : 2.5%;
	--v2 : calc(100% - var(--v1));
	clip-path : polygon(var(--v1) var(--v1), var(--v2) var(--v1), var(--v2) var(--v2), var(--v1) var(--v2));
}

.table_item  img {
	width : 10vw;
}

.table_item  p {
	text-align : center;
}

#item_info_container {
	width : 25%;
	height : 75%;
	position : abosolute;
	left : 2.5%;
	top : 12.5%;
	overflow-y : scroll;
}

#item_info_container * {
	color : white;
	word-break : break-all;
}

#item_info_stats {
	font-size : 0.75em;
}

#equip_btn {
	background : gray;
}
#equip_btn:hover {
	background : white;
}

#equip_slots {
	display : grid;
	grid-template-columns : repeat(3, 1fr);
	align-items : start;
	position : absolute;
	left : 35vw;
	top : 15vw;
	width : 30vw;
	height : 10vw;
}