p, div, td {
	color : white
}

.table_item {
	position : relative;
	left : 0%;
	top : 0%;
	border : none;
	margin : 0%;
	padding : 0%;
	width : 1fr;
	height : inherit;
	color : white;
	overflow : hidden;
}

.table_item > div {
	width : 100%;
	height : 100%;
}
.table_item > div > .content {
	width : 100%;
	height : 100%;
	position : relative;
	left : 0%;
	top : 0%;
	--v1 : 2.5%;
	--v2 : calc(100% - var(--v1));
	clip-path : polygon(var(--v1) var(--v1), var(--v2) var(--v1), var(--v2) var(--v2), var(--v1) var(--v2));
}

.table_item > div > .content > img {
	width : 100%;
}

input[type="image"], img, td {
	-webkit-user-drag : none;
	-webkit-user-select : none;
}

#shop_slots {
	--fw : 60vw;
	position : absolute;
	left : 25%;
	top : 25%;
	width : var(--fw);
	height : calc(var(--fw) / 3);
	border : solid white;
	display : grid;
	grid-template-columns : repeat(3, 1fr);
}

.hide_scrollbar {
	scrollbar-width : none;
}

.hide_scrollbar::-webkit-scrollbar {
	display : none;
}

#item_info_container {
	width : 75%;
	height : 35%;
	position : absolute;
	left : 25%;
	top : calc(20% + 30vw);
	overflow-x : scroll;
	display : flex;
	align-content : space-between;
	grid-column-gap : 5vw;
}

#item_info_container * {
	color : white;
	word-break : break-all;
}

#item_info_stats {
	font-size : 0.75em;
}

#buy_btn {
	background : gray;
}
#buy_btn:hover {
	background : white;
}

#item_info_container > span {
	margin-top : auto;
	margin-bottom : auto;
}